*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Orbitron',sans-serif;
scroll-behavior:smooth;
}


body{
background:#050505;
color:white;
overflow-x:hidden;
}



/* SCROLL */

::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-thumb{
background:red;
border-radius:20px;
}



/* PARTICLES */

#particles{
position:fixed;
width:100%;
height:100%;
top:0;
left:0;
z-index:0;
pointer-events:none;
}



/* HERO */

.hero{

min-height:100vh;

display:flex;
align-items:center;
justify-content:space-between;

padding:80px 8%;

position:relative;

overflow:hidden;

background:

radial-gradient(
circle at center,
#7a0000,
#250000 35%,
#050505 75%
);

}



.hero::before{

content:"";

position:absolute;

inset:0;

background:
linear-gradient(
90deg,
rgba(255,0,0,.15),
transparent
);

}



/* TEXTO */

.hero-content{

position:relative;
z-index:2;

width:45%;

}



.logo{

width:220px;

filter:
drop-shadow(0 0 20px red);

}



.hero h1{

font-size:120px;

letter-spacing:15px;

font-weight:900;


text-shadow:

0 0 10px red,
0 0 30px red,
0 0 60px red;

}



.subtitle{

color:#ff5555;

letter-spacing:4px;

margin-top:20px;

font-size:18px;

}




/* PERSONAGEM */


.hero-character{

width:50%;

position:relative;

z-index:2;

display:flex;

justify-content:center;

}



.hero-character img{

width:100%;

max-width:750px;


filter:

drop-shadow(0 0 30px red)
drop-shadow(0 0 80px red);


animation:

float 4s infinite ease-in-out;

}



@keyframes float{

50%{

transform:translateY(-20px);

}

}



/* CIRCULO CYBER */


.cyber-ring{

position:absolute;

right:5%;

width:650px;

height:650px;

border-radius:50%;

border:4px solid red;


box-shadow:

0 0 30px red,
0 0 100px red;


opacity:.3;

animation:pulse 5s infinite;

}



@keyframes pulse{


50%{

transform:scale(1.1);

opacity:.6;

}


}



/* BOTÕES */


.hero-buttons{

display:flex;

gap:20px;

margin-top:40px;

}



.btn-red,
.btn-dark{


padding:20px 45px;

border-radius:10px;

text-decoration:none;

font-weight:800;

transition:.4s;

}



.btn-red{

background:red;

color:white;

box-shadow:

0 0 20px red,
0 0 60px red;

}



.btn-dark{

border:2px solid red;

color:white;

}



.btn-dark:hover{

background:red;

}




section{

padding:120px 8%;

position:relative;

z-index:1;

}



h2{

text-align:center;

font-size:42px;

margin-bottom:60px;

text-shadow:

0 0 15px red,
0 0 40px red;

}



/* SOBRE */


.about p{

max-width:900px;

margin:auto;

text-align:center;

line-height:2;

font-size:18px;

color:#ddd;

}



/* CARDS */


.cards{

display:grid;

grid-template-columns:

repeat(4,1fr);

gap:30px;

}



.card{

background:#0d0d0d;

padding:50px 20px;

text-align:center;

border-radius:20px;

border:1px solid #222;

transition:.4s;


}



.card:hover{


transform:translateY(-15px);


box-shadow:

0 0 30px red;


}



.card i{

font-size:50px;

color:red;

margin-bottom:20px;

}




/* AGENDA */


.events{

display:grid;

grid-template-columns:

repeat(3,1fr);

gap:25px;

}



.event{

background:#111;

padding:30px;

border-left:4px solid red;

border-radius:15px;


}



.event span{

color:red;

font-weight:bold;

}





/* FORM */


form{

max-width:700px;

margin:auto;

display:flex;

flex-direction:column;

gap:20px;

}



input,
textarea{


background:#111;

border:

1px solid #333;

padding:18px;

border-radius:10px;

color:white;


}



textarea{

height:180px;

}



button{


background:red;

color:white;

border:0;

padding:20px;

font-weight:bold;

border-radius:10px;

cursor:pointer;


box-shadow:

0 0 30px red;


}



/* SOCIAL */


.social-grid{

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

}



.social-grid a{


background:#111;

padding:20px 40px;

border-radius:10px;

border:1px solid #333;

color:white;

text-decoration:none;


transition:.3s;


}



.social-grid a:hover{

background:red;

}




/* FOOTER */


footer{

padding:60px;

text-align:center;

background:#020202;

border-top:1px solid #222;

}



footer h2{

font-size:50px;

}



/* RESPONSIVO */


@media(max-width:1100px){


.hero{

flex-direction:column;

text-align:center;

}


.hero-content,
.hero-character{

width:100%;

}


.hero h1{

font-size:70px;

}


.cards{

grid-template-columns:1fr 1fr;

}


.events{

grid-template-columns:1fr;

}


}



@media(max-width:600px){


.hero h1{

font-size:45px;

}


.cards{

grid-template-columns:1fr;

}


.hero-buttons{

flex-direction:column;

}



.cyber-ring{

width:350px;

height:350px;

}


}
