@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');


*{
box-sizing:border-box;
}


body{

margin:0;
background:#020202;
color:white;
font-family:Orbitron, sans-serif;

}



body:before{

content:"";
position:fixed;
inset:0;

background:
linear-gradient(
90deg,
rgba(255,0,0,.04) 1px,
transparent 1px
),
linear-gradient(
rgba(255,0,0,.04) 1px,
transparent 1px
);

background-size:40px 40px;

pointer-events:none;

}




aside{

position:fixed;

left:0;
top:0;

width:70px;
height:100vh;

border-right:1px solid red;

display:flex;

align-items:center;

justify-content:center;

}



.logo-side{

writing-mode:vertical-rl;

color:red;

letter-spacing:5px;

font-weight:900;

}



.menu{

display:none;

}





main{

margin-left:90px;

padding:30px;

}






.hero{

height:650px;

display:flex;

overflow:hidden;

border:1px solid #550000;

background:
radial-gradient(circle,#400000,#000);

}



.hero-text{

width:50%;

padding:80px 50px;

}



.hero h1{

font-size:90px;

color:red;

margin:0;

text-shadow:
0 0 20px red;

}



.hero h2{

font-size:18px;

}



button{

background:red;

color:white;

border:0;

padding:15px 40px;

font-weight:bold;

cursor:pointer;

box-shadow:
0 0 20px red;

}





.hero-image{

width:50%;

display:flex;

align-items:center;

justify-content:center;

}



.hero-image img{

height:600px;

filter:
drop-shadow(0 0 30px red);

}






.about{

margin-top:40px;

display:grid;

grid-template-columns:250px 1fr 250px;

gap:30px;

border:1px solid #550000;

padding:30px;

}



.photo img{

width:100%;

}



.content h3,
.title{

color:red;

}



.stats,
.cards,
.events{

display:flex;

gap:15px;

}



.stats div,
.cards div,
.events div{

border:1px solid #500;

padding:20px;

text-align:center;

flex:1;

}





.quote{

border-left:1px solid red;

padding:20px;

color:#aaa;

}







.gallery{

display:flex;

gap:10px;

}


.gallery img{

width:25%;

height:150px;

object-fit:cover;

border:1px solid red;

}







.booking{

margin-top:50px;

border:1px solid red;

padding:40px;

display:flex;

justify-content:space-between;

}



form{

display:flex;

flex-direction:column;

width:350px;

gap:10px;

}



input,textarea{

background:#050505;

border:1px solid #500;

padding:15px;

color:white;

}





footer{

margin-top:40px;

border-top:1px solid red;

padding:30px;

display:flex;

justify-content:space-between;

color:red;

}




@media(max-width:900px){

main{
margin-left:20px;
}

.hero,
.about,
.booking{

display:block;

}

.hero-text,
.hero-image{

width:100%;

}


.hero h1{

font-size:50px;

}


}
